@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

html,
body {
    scroll-behavior: smooth;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

div#root {
    height: auto !important;
    min-height: 100%;
}

.home-title {
    font-size: 3.5rem;
}

.navbar-menu {
    background-color: #fff;
    box-shadow: unset !important;
}

/*Buttons*/
.button.btn-nav {
    border: 2px solid var(--pri);
    color: var(--pri) !important;
}

.button.btn-cta {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--pri);
    background-color: var(--pri);
    color: #fff !important;
    padding: 25px 40px;
    font-family: inherit !important;
}

.button.btn-cta.is-light {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid #fff;
    background-color: #fff;
    color: var(--pri) !important;
    padding: 25px 40px;
}

.button.btn-nav:hover {
    background-color: var(--pri);
    color: #fff !important;
}

/*Elements*/
.hero {
    min-height: 100vh;
    background-color: #f7f7fc !important;
}

.ico-purple {
    --fa-primary-color: #593ffb;
    --fa-secondary-color: #593ffb;
}

.ico-green {
    --fa-primary-color: #80cc28;
    --fa-primary-opacity: 0.4;
    --fa-secondary-color: #80cc28;
    --fa-secondary-opacity: 1;
}

.ico-red {
    --fa-primary-color: #f9406c;
    --fa-secondary-color: #f9406c;
}

img.why-woman {
    width: 350px;
    position: relative;
}

.list-flex {
    font-size: 1.3rem;
}

.list-flex {
    display: inline-flex;
    gap: 20px;
    align-items: center;
}

.input,
.textarea {
    border: 1px solid var(--pri-dark) !important;
    background-color: #fff8f8 !important;
    box-shadow: unset !important;
}

.field:not(:last-child) {
    margin-bottom: 2rem;
}

.footer {
    background-color: var(--pri-dark);
    padding: 1.5rem 1.5rem;
    color: #fff;
}

/*Utilities*/
.d-none{
    display: none;
}

.p-0 {
    padding: 0 !important;
}

.fw-bold {
    font-weight: bold !important;
}

.fw-bolder {
    font-weight: 900 !important;
}

.section-content {
    padding: var(--big-pad) 0;
}

.bg-pri-dark {
    background-color: var(--pri-dark) !important;
    color: #fff !important;
}

.bg-sec{
    background-color: var(--sec) !important;
    color: #fff !important;
}

.fs-one-half {
    font-size: 1.5rem;
}

.space-1x {
    letter-spacing: 1px;
}

.space-2x {
    letter-spacing: 2px;
}

.mx-350{
    max-width: 350px !important;
}

footer a:has(i.social){
    color: inherit !important;
    font-size: 1.5rem;
}

.is-gray{
    background-color: #f7f7fc !important;
}

/*Texts*/
.content {
    font-size: 1.2rem;
}

.text-tertiary {
    color: var(--ter) !important;
}

.text-primary {
    color: var(--pri) !important;
}

.text-gray {
    color: #757683;
}

.text-ash {
    color: var(--ash) !important;
}

/*Media Queries*/
@media screen and (max-width: 1000px) {
    .home-title {
        font-size: 2.5rem;
    }

    .section-content {
        padding: var(--small-pad) 0 !important;
    }
}

:root {
    --pri: #001E9A;
    --sec: #02A5FE;
    --pri-dark: #282C4B;
    --ter: #F17216;
    --small-pad: 10px;
    --big-pad: 20px;
    --ash: #ced1e6;
}